.collectionItemContainer {
  height: auto;
  width: 550px;
  padding: 0 1rem;
}
.collectionImageCont {
  box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
  width: 100%;
}
/* .collectionImageCont > span {
    position: unset !important;
  }
  .collectionImageCont .image {
    object-fit: contain !important;
    width: 100% !important;
    position: !important;
    height: unset !important;
  } */
.cardContent {
  height: 5rem;
  text-align: center;
}

.cardContent .collectionTitle {
  padding: 1rem 0;
  font-size: 2.4rem;
  margin-top: 2rem;
  font-family: "Roboto";
}
