.footer {
  height: 25rem;
  width: 100%;
  margin-top: 10rem;
  background-color: var(--secondary-color);
  /* margin-top: -25rem; */
  clear: both;

  /* position: relative !important;
  left: 0;
  right: 0;
  bottom: 0 !important; */
}
.footerHeader {
  text-align: center;
  color: var(--background);
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  margin: 2rem 0;
}
.footerSubHeader {
  text-align: center;
  color: var(--background);
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
}
.footerNav {
  max-width: 1000px;
  margin: 0 auto;
}

.footerLinkList {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
}
.footerLink {
  font-size: 2rem;
}
.footerLink a {
  text-decoration: none;
  color: var(--background);
}
