.featured {
  max-height: 1400px;
  max-width: 2552px;
  background-color: white;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.featured span {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
}

.mainText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  font-size: 48px;
}
