@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

:root {
  --main-color: #000;
  --secondary-color: #a9efb9;
  --accent: #04186e;
  --background: #f4faff;
}

html,
body {
  background-color: var(--background);
  font-family: "Abril Fatface";
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  padding: 4rem 0;
}

main {
  padding: 0;
  flex: 1;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  width: 100%;
  height: auto;
}
